---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/check?access_key=foobar123&email=support@apilayer.com&smtp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"email":"support@apilayer.com","did_you_mean":"","user":"support","domain":"apilayer.com","format_valid":true,"mx_found":true,"smtp_check":false,"catch_all":null,"role":true,"disposable":false,"free":false,"score":0.64}'
  recorded_at: Wed, 26 Oct 2016 21:00:45 GMT
recorded_with: VCR 3.0.3
